
  /* Axes */
 
  .axis line {
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
  }
  .axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
    }
  .axis text {
    font-size: 13px;
    fill: #6b6b6b;
  }
  .axis-title {
    font-size: 13px;
    fill: #888;
  }


 
    path.line-0 {
      fill: none;
      stroke: #ed3700;
      }
      
      path.line-1 {
      fill: none;
      stroke: #2b2929;
      stroke-dasharray: 2;
      }
      
      path.line-2 {
      fill: none;
      stroke: #9c9c9c;
      stroke-dasharray: 6;
      }
  

      path.line-3 {
        fill: none;
        stroke: #ed3700;
        }
        
        path.line-4 {
        fill: none;
        stroke: #2b2929;
        stroke-dasharray: 2;
        }
        
        path.line-5 {
        fill: none;
        stroke: #9c9c9c;
        stroke-dasharray: 6;
        }
    
    
  
  

  