body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    padding: 30px;
    background: #f7f7f7;
  }
  
  .container {
    display: flex;
  }
  
  .margin-right {
    margin-right: 30px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .source {
    margin-top: 30px;
    font-size: 10px;
    color: #888;
  }
  .source a {
    color: #888;
  }
  
  /* Marks */
  .point:hover {
    stroke: #333;
  }
  .bar {
    shape-rendering: crispEdges;
  }
  .bar:hover {
    stroke: #777;
  }
  .bar.active {
    stroke: #333;
  }
  
  /* Axes */
 
  .axis line {
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
  }
  .axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
    }
  .axis text {
    font-size: 13px;
    fill: #6b6b6b;
  }
  .axis-title {
    font-size: 13px;
    fill: #888;
  }

  path {
    fill: none;
    stroke: #ed3700;
    }
 
    path.line-0 {
      fill: none;
      stroke: #ed3700;
      }
      
      path.line-1 {
      fill: none;
      stroke: #2b2929;
      stroke-dasharray: 2;
      }
      
      path.line-2 {
      fill: none;
      stroke: #9c9c9c;
      stroke-dasharray: 6;
      }
  
  
  

  